@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@


<div class="jumbotron">
    <header> <h1 class="text-center">A.B.I.Y <small>(Always Believe In Yourself)</small></h1></header>

    <div class="text-center">
        <p>
            ABIY (Pty) Ltd. is a Durban based corporation that provides both sales of printed t-shirts
            (with customer designs) and sales of t-shirts with company produced designs to customers in its targeted market.
            The Company was founded in 2017 by Sibusiso Mashita.
        </p>

        <p>
            We as A.B.I.Y pride ourselves in Providing great quality T-shirts, from our own designs we hope to always encourage customer creativity in designs
            we are about you and everything you love. your club, your group, or team.
            We believe clothing should be able to alter your mood. So we aim to make people happy and thats what Drives our company.
        </p>
    </div>
</div>
