@{
    ViewBag.Title = "Home Page";
}

<div id=" themeSlider" class=" carousel slide" data-ride="carousel">
    <ol class=" carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class=" active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <img src="~/Images/app pictures/background.png" />
    @*<div class=" carousel-inner">
        <div class="item active">
            <div class=" imgOverlay"></div>
            <img src="~/Images/men.jpg" />
            <div class=" carousel-caption">
                <h1>We have designs for Men</h1>
              
            </div>
        </div>
        <div class="item">
            <div class=" imgOverlay"></div>
            <img src="~/Images/kid.jpg" />
            <div class=" carousel-caption">
                <h1>We have designs for Kids</h1>
            </div>
        </div>
        <div class="item">
            <div class=" imgOverlay"></div>
            <img src="~/Images/women.jpg" />
            <div class=" carousel-caption">
                <h1>We have designs for Women</h1>
            </div>
        </div>*@
    </div>

